// Place all the styles related to the stickies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  color: gray;
}

#container {
  margin-left: 40px;
}
