<script type="text/x-template" id="sticky-template">
  <div class="uk-card uk-card-default" uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-card-body">
      <div v-if="editing">
        <input class="uk-input"
               type="text"
               v-model="sticky.title"
               placeholder="Title"
               v-bind:ref="'title-input-' + sticky.id" />
        <textarea class="uk-textarea" v-model="sticky.content" placeholder="Content"></textarea>
      </div>
      <div v-if="!editing">
        <h3>{{ sticky.title.length > 0 ? sticky.title : 'No Title' }}</h3>
        <p class="sticky-content">{{ sticky.content.length > 0 ? sticky.content : 'No content yet' }}</p>
      </div>
    </div>
    <div class="uk-card-footer">
      <div class="uk-button-group">
        <button class="uk-button uk-button-default" v-on:click="toggleEditingMode()">{{ editButtonTitle }}</button>
        <button class="uk-button uk-button-danger"
                v-on:click="deleteButtonPressed"
                v-if="!editing"
                title="Delete Sticky">Delete</button>
      </div>
    </div>
  </div>
</script>

<h1>Stickies with Vue</h1>

<%= render 'app' %>
